### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project Logs*/

# Project Outputs
Project Outputs*/

# Project Graphics
Graphics*/

# Reference Material
Reference Material*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb